body {
  background-color: purple;
  color: yellow;
  font-family: sans-serif;
}

.navbar {
  flex-wrap: nowrap;
}

.navbar-inner {
  width: 100%;
  background-color: yellow;
  margin-top: 1%;
  margin-bottom: 1%;
}

.nav-link {
  font-weight: bold;
  color: purple;
  padding-bottom: 5px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: start;
}

.text-purple {
  color: purple;
}

.nav-link:hover {
  color: #370d32;
}

.carousel-item {
  margin-top: 1%;
  height: 300px;
}
.carousel-item img {
  height: 300px;
}

.home-banner-img {
  aspect-ratio: 21/9;
}

.home-img {
  object-fit: cover;
  aspect-ratio: 1;
}

img {
  padding-bottom: 10px;
}

p {
  padding-top: 5px;
}

.containerIMG {
  width: 50%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
